<div class="container">
  
<!-- sample filters -->
<div class="list-fitlters">
    <div *ngFor="let filterField of filterFields">
      <h2 class="list-fitlters__label">{{ filterField }}</h2>
      <select class="list-filters__dropdown" (change)="filterChangeHandler(filterField, $event)">
          <option value="">select</option>
          <option value="{{ f.id }}" *ngFor="let f of getFilters(filterField)"> {{ f.label }}</option>
      </select>
    </div>
</div>

<!-- table to populate data and filtered data -->
<div class="bordered-box">
  <ul class="item-list">
      <li *ngFor="let t of filteredData; let i = index;" class="bordered-box-list">
        <div class="list-item__index">
            {{ i + 1 }}
        </div>
        <div class="list-item__body">

            <div class="list-name">
                {{ t.name | titlecase }}
            </div>
            <div class="list-specs">
                <div class="list-specs__download">
                    <h3>Download</h3>
                    <div class="list-specs__download__trend"><span><img src="../assets/up_arrow.png" class="download__image" /> {{ t.download }}</span> Mbit/s</div>
                </div>
                <div class="list-specs__upload">
                    <h3>Upload</h3>
                    <div class="list-specs__upload__trend"><span><img src="../assets/up_arrow.png" class="upload__image"  /> {{ t.upload}}</span> Mbit/s</div>
                </div>
            </div>
            <div class="list-features hide-mobile">
              <ul>
                <li *ngFor="let benifit of t.allbenifits">
                    {{ benifit }}
                </li>
              </ul>
            </div>
            <div class="list-details">
                <div class="list-details__currency">{{ t.price }} {{ t.currency }}</div>
                <button class="list-details__button" mat-icon-button (click)="showInfo(t)">
                  <span>To Tariff </span> >
                </button>
            </div>
          
        </div>
      </li>
    </ul>
</div>  


</div>